.searchform{
  display: flex;
}

.searchform input {
  border-radius: 0px;
  flex: 4;
 
}

.searchform button{
  border-radius: 0px;
  flex: 1;
}

.searchItem{
  border: 1px solid #eee;
  margin: 20px 0;
}