body{
  background-color: rgb(125, 247, 216);
 
}

.searchform{
  display: flex;
}

.searchform input {
  border-radius: 0px;
  flex: 4;
 
}

.searchform button{
  border-radius: 0px;
  flex: 1;
}

.searchItem{
  border: 1px solid #eee;
  margin: 20px 0;
  background: white;
}


.searchItem .media-body{
  padding: 10px;
  display: flex;
  flex-direction: column;

} 

.searchItemButton button{
  margin-right: 10px;
}

.jumbotron{
  margin-top: 100px;
}

.searchItemButton a{
  display:inline-block;
  margin-right: 20px;
}

.media-body p{
  min-height: 100px;
}


.myLoader{
  position: absolute;
  background: rgba(0,0,0,0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}